* {
  box-sizing: border-box;
}

main {
  border: 2px black solid;
  margin: 0 auto;
  width: 30%;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-between;
  align-items: center;
}

main #clear-all {
  border: 2px white solid;
  height: 50px;
  width: 100%;
}
